<center><h1> Detalles repuesto</h1></center>

<div class="jumbotron">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Código:</strong></td>
        <td><%= @repuesto.codigo %></td>
      </tr>

      <tr>
        <td><strong>Artículo:</strong></td>
        <td><%= @repuesto.articulo %></td>
      </tr>

      <tr>
        <td><strong>Valor:</strong></td>
        <td><%= number_to_currency(@repuesto.valor, unit: "$")%></td>
      </tr>

      <tr>
        <td><strong>Stock mínimo:</strong></td>
        <td><%= @repuesto.stock_minimo %></td>
      </tr>

      <tr>
        <td><strong>Stock:</strong></td>
        <td><%= @repuesto.stock %></td>
      </tr>

      <tr>
        <td><strong>Pañol:</strong></td>
        <td><%= @repuesto.panol %></td>
      </tr>

      <tr>
        <td><strong>Móvil 1:</strong></td>
        <td><%= @repuesto.movil1 %></td>
      </tr>

      <tr>
        <td><strong>Móvil 2:</strong></td>
        <td><%= @repuesto.movil2 %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron">
  <center><h2>Actualizar atributos</h2></center>
  <%= form_tag repuesto_actualizar_atributos_path(@repuesto), multipart: true do %>
    <p> Nuevo stock mínimo: <%= number_field_tag :nuevo_stock_minimo, class: "btn" %></p>
    <p> Nuevo valor del repuesto: <%= number_field_tag :nuevo_valor, class: "btn" %></p>
    <%= submit_tag "Actualizar", class: "btn btn-lg btn-primary", id:"link-b" %>
  <% end %>
</div>


<%= link_to "Volver a Repuestos", repuestos_path %>
<br><br>
