<center><h1> Detalles repuesto</h1></center>

<div class="jumbotron">
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Código:</strong></td>
        <td><%= @repuesto.codigo %></td>
      </tr>

      <tr>
        <td><strong>Artículo:</strong></td>
        <td><%= @repuesto.articulo %></td>
      </tr>

      <tr>
        <td><strong>Valor:</strong></td>
        <td><%= number_to_currency(@repuesto.valor, unit: "$")%></td>
      </tr>

      <tr>
        <td><strong>Stock mínimo:</strong></td>
        <td><%= @repuesto.stock_minimo %></td>
      </tr>

      <tr>
        <td><strong>Stock:</strong></td>
        <td><%= @repuesto.stock %></td>
      </tr>

      <tr>
        <td><strong>Pañol:</strong></td>
        <td><%= @repuesto.panol %></td>
      </tr>

      <tr>
        <td><strong>Móvil 1:</strong></td>
        <td><%= @repuesto.movil1 %></td>
      </tr>

      <tr>
        <td><strong>Móvil 2:</strong></td>
        <td><%= @repuesto.movil2 %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron">
  <center><%= link_to 'Realizar traspaso', edit_repuesto_path(@repuesto), class: "btn btn-lg btn-primary", id:"link-b"  %></center>
</div>
