<div class="jumbotron">
  <%= bootstrap_form_with(model: traspaso, local: true) do |form| %>

    <div class="field">
      <%= form.select :desde, ["", "Móvil 1", "Móvil 2", "Central"], label: "Desde" %>
    </div>

    <div class="field">
      <%= form.select :hacia, ["", "Móvil 1", "Móvil 2", "Central"], label: "Hacia" %>
    </div>

    <div class="field">
      <%= form.date_select :fecha, id: :cliente_telefono %>
    </div>
    <br>

    <h3> Repuestos traspasados:</h3>
    <br>

    <table>
    <thead>
      <tr>
        <th><center>Código repuesto</center></th>
        <th><center>Cantidad</center></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= text_field_tag "repuestos[repuestos][]repuesto[codigo]" %></td>
        <td><%= number_field_tag "repuestos[repuestos][]repuesto[cantidad]" %></td>
      </tr>

      <% contador = 10 %>
      <% while contador > 0 %>
        <tr>
          <td><input type="text" name="repuestos[repuestos][]repuesto[codigo]"></td>
          <td><input type="number" name="repuestos[repuestos][]repuesto[cantidad]"></td>
        </tr>
        <% contador -= 1 %>
      <%end%>
    </tbody>
  </table>
  <br>
  <br>

    <div class="actions">
        <%= form.submit "Realizar traspaso", class: "btn btn-lg btn-primary" %>
    </div>
    
  <% end %>


</div>