<center><h1>Análisis</h1></center>


<div class="jumbotron">
	<% total_repuestos = 0 %>
	<center><h2>Repuestos usados</h2></center>
	<br>
	<table class="table">
		<thead>
			<th>Repuesto</th>
			<th>Cantidad</th>
			<th>Valor unitario</th>
			<th>Total</th>
		</thead>
		<tbody>
			<% @repuestos.each do |codigo_repuesto, cantidad| %>
				<% repuesto = Repuesto.find(codigo_repuesto.to_i) %>
				<% total_repuesto = repuesto.valor.to_f * cantidad.to_f %>
				<% total_repuestos += total_repuesto %>
				<tr>
					<td><%= repuesto.articulo %></td>
					<td><%= cantidad.to_f %></td>
					<td><%= number_to_currency(repuesto.valor.to_f, unit: "$") %></td>
					<td><%= number_to_currency(total_repuesto, unit: "$") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br>

	<h3> Total por repuestos: <%= number_to_currency(total_repuestos, unit: "$") %> </h3>
</div>

<div class="jumbotron">
	<h2> Total OT: <%= number_to_currency(@total.to_f, unit: "$") %></h2>
</div>