<center><h1>Grúas</h1></center>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Todos", gruas_path(tipo: "todos") %>
  </li>
  <li class="nav-item">
    <%= link_to "Gas", gruas_path(tipo: "Gas") %>
  </li>
  <li>
  <%= link_to "Electricas", gruas_path(tipo: "Electricas") %>
  </li>
  <li>
  <%= link_to "Apiladores", gruas_path(tipo: "Apiladores") %>
  </li>
</ul>

<%= form_tag gruas_path, :method => 'get' do %>
  <%= number_field_tag :search, params[:search] %>
  <%= submit_tag "Buscar" %>
<% end %>

<% if @gruas.any? %>
  <div style="height:500px;overflow-y:scroll;;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Numero </th>
          <th> Tipo </th>
          <th> Lugar Actual </th>
          <th> Horómetro </th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @gruas.each do |grua| %>
          <tr>
            <td><%= grua.numero_serie %></td>
            <td><%= grua.tipo %></td>
            <td><%= grua.lugar_actual %></td>
            <td><%= number_with_delimiter(grua.horometro.to_i, delimiter: ".") %></td>
            <td><%= link_to 'Mostrar', grua %></td>
            <td><%= link_to 'Borrar', grua, method: :delete, data: { confirm: 'Seguro que desea eliminar la grua?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <h2> No existe ninguna grúa con ese número</h2>
<% end %>
<br>

<div class="jumbotron">
  <center><h2> Ingresar nueva Grúa: </h2></center>
  <center><%= link_to 'Nueva Grúa', new_grua_path, class: "btn btn-lg btn-primary", id:"link-b" %></center>
</div>

<div class="jumbotron">
  <h2><center>Revisar mantenciones</center></h2>
  <center><%= link_to 'Revisar mantenciones', revisar_mantenciones_path, class: "btn btn-lg btn-primary", id:"link-b" %></center>
  <h3></h3>
</div>

<div class="jumbotron">
  <h2><center>Realizar análisis de todas las gruas</center></h2>
  <center><%= link_to 'Hacer análisis', analisis_path, class: "btn btn-lg btn-primary", id:"link-b" %></center>
  <h3></h3>
</div>