<center><h1> Grúas que necesitan mantención </h1></center>
<br><br>

<p>
  Descargar:
  <%= link_to "CSV", revisar_mantenciones_path(format: "csv") %> |
  <%= link_to "Excel", revisar_mantenciones_path(format: "xls") %>
</p>

<table   class="table table-striped table-bordered table-sm">
	<thead>
		<th>Número de serie</th>
		<th>Cliente</th>
		<th>Horómetro</th>
		<th>Secuencia</th>
		<th>Horas faltantes</th>
		<th>Horas teóricas de mantención</th>
	</thead>
	<tbody>
		<% @gruas.each do |grua| %>

			<tr>
				<td><%= grua.numero_serie %></td>
				<td><%= grua.cliente %></td>
				<td><%= number_with_delimiter(grua.horometro.to_i, delimiter: ".") %></td>
				<td>Cada <%= grua.secuencia %> horas</td>
      			<% if grua.horas_faltantes <= 0 %>
        			<td class="text-danger"><%= number_with_delimiter(grua.horas_faltantes, delimiter: ".") %> horas</td>
      			<% else %>
        			<td class="text-primary"><%= number_with_delimiter(grua.horas_faltantes, delimiter: ".") %> horas</td>
      			<% end %>
      			<td><%= number_with_delimiter(grua.horas_teoricas.to_i, delimiter: ".") %> horas</td>
      			<td><%= link_to "Realizada", mantencion_realizada_path(grua_id: grua.id, secuencia: grua.secuencia) %></td>
			</tr>

		<% end %>
	</tbody>
	
</table>