<%= bootstrap_form_with(model: ingreso, local: true) do |form| %>
  <% if ingreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingreso.errors.count, "error") %> prohibited this ingreso from being saved:</h2>

      <ul>
      <% ingreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% proveedores = [''] %>
  <% Supplier.all.each do |p| %>
    <% proveedores.append(p.nombre) %>
  <%end%>

  <div class="field">
    <%= form.select(:proveedor, proveedores, {}, { :class => 'my_style_class' })%>
  </div>

  <div class="field">
    <%= form.number_field :numero_factura, label: "Número de factura" %>
  </div>

  <div class="field">
    <%= form.number_field :orden_compra, label: "Orden de Compra" %>
  </div>

  <div class="field">
    <%= form.date_select :fecha %>
  </div>

  <div class="jumbotron">
    <table>
      <thead>
        <tr>
          <th><center>Código de repuesto</center></th>
          <th><center>Cantidad</center></th>
          <th><center>Precio por unidad</center></th>
          <th><center>Faltante</center></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= number_field_tag "repuestos[repuestos][]repuesto[codigo]" %></td>
          <td><%= number_field_tag "repuestos[repuestos][]repuesto[cantidad]" %></td>
          <td><%= number_field_tag "repuestos[repuestos][]repuesto[precio]" %></td>
          <td><%= number_field_tag "repuestos[repuestos][]repuesto[faltante]" %></td>

        </tr>

        <% contador = 10 %>
        <% while contador > 0 %>
          <tr>
            <td><input type="number" name="repuestos[repuestos][]repuesto[codigo]"></td>
            <td><input type="number" name="repuestos[repuestos][]repuesto[cantidad]"></td>
            <td><input type="number" name="repuestos[repuestos][]repuesto[precio]"></td>
            <td><input type="number" name="repuestos[repuestos][]repuesto[faltante]"></td>
          </tr>
          <% contador -= 1 %>
        <%end%>
      </tbody>
    </table>
  </div>


  <div class="field">
    <%= form.submit "Crear Ingreso", class: "btn btn-lg btn-primary", id:"link-b"%>
  </div>
<% end %>
