<%= form_with(model: ingreso, local: true) do |form| %>
  <% if ingreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingreso.errors.count, "error") %> prohibited this ingreso from being saved:</h2>

      <ul>
      <% ingreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% proveedores = [''] %>
  <% Supplier.all.each do |p| %>
    <% proveedores.append(p.nombre) %>
  <%end%>

  <div class="field">
    <%= form.label :proveedor %>
    <%= form.select(:proveedor, proveedores, {}, { :class => 'my_style_class' })%>
  </div>


  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :ingreso_total %>
  </div>

  <table>
  <thead>
    <tr>
      <th>Codigo repuesto</th>
      <th>Cantidad</th>
      <th>Precio por unidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= number_field_tag "repuestos[repuestos][]repuesto[codigo]" %></td>
      <td><%= number_field_tag "repuestos[repuestos][]repuesto[cantidad]" %></td>
      <td><%= number_field_tag "repuestos[repuestos][]repuesto[precio]" %></td>
    </tr>

    <% contador = 10 %>
    <% while contador > 0 %>
      <tr>
        <td><input type="number" name="repuestos[repuestos][]repuesto[codigo]"></td>
        <td><input type="number" name="repuestos[repuestos][]repuesto[cantidad]"></td>
        <td><input type="number" name="repuestos[repuestos][]repuesto[precio]"></td>
      </tr>
      <% contador -= 1 %>
    <%end%>
  </tbody>
</table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
