<h1><center> Detalles Ingreso</center> </h2>
<br>

<div class="jumbotron">
	<table class="table">
		<tbody>
			<tr>
				<td><strong>Proveedor:</strong></td>
				<td><%=@ingreso.proveedor%></td>
			</tr>

			<tr>
				<td><strong>Numero Factura:</strong></td>
				<td><%= @ingreso.numero_factura %></td>
			</tr>

			<tr>
				<td><strong>Numero Orden de Compra:</strong></td>
				<td><%= @ingreso.orden_compra %></td>
			</tr>

			<tr>
				<td><strong>Fecha:</strong></td>
				<td><%= @ingreso.fecha %></td>
			</tr>


		</tbody>
		
	</table>
</div>


<h1 class="text-primary">Elementos agregados:</h1>
<div class="jumbotron">
  <table class="table">
	  <thead>
	    <tr>
	      <th>Repuesto</th>
	      <th>Cantidad</th>
	      <th>Precio unitario</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @ingreso.repuestos.each do |tupla| %>
	    	<% r = Repuesto.find(tupla[0].to_i) %>
	    	<% nombre = r.articulo %>
	    	<% valor = r.valor %>
	      <tr>
	        <td><%= nombre %></td>
	        <td><%= tupla[1].to_f %></td>
	        <td><%= number_to_currency(valor, unit: "$") %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<br>

	<h3>Total por elementos agregados: <strong><%= number_to_currency(@ingreso.total, unit: "$")%></strong></h3>
</div>

<% if @ingreso.abierta %>
	
	<h1 class="text-primary">Elementos Faltantes:</h1>
	<div class="jumbotron">
	  <table class="table">
		  <thead>
		    <tr>
		      <th>Repuesto</th>
		      <th>Cantidad faltante</th>
		      <th>Precio Unitario</th>
		    </tr>
		  </thead>

		  <tbody>
		  	<% total_faltante = 0 %>
		    <% @ingreso.repuestos_faltantes.each do |tupla| %>
		    	<% r = Repuesto.find(tupla[0].to_i) %>
	    		<% nombre = r.articulo %>
	    		<% valor = r.valor %>
	    		<% total_faltante += tupla[1].to_f*valor %>
		      <tr>
		        <td><%= nombre %></td>
		        <td><%= tupla[1].to_f %></td>
		        <td><%= number_to_currency(valor, unit: "$") %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<h3>Total por elementos faltantes: <strong><%= number_to_currency(total_faltante, unit: "$")%></strong></h3>
	</div>
	
	<div class="jumbotron">
		<%= link_to 'Completar Orden de Compra', ingreso_completar_path(@ingreso), class: "btn btn-lg btn-primary", id:"link-b" %>
		<%= link_to 'Cerrar Orden de Compra', ingreso_cerrar_path(@ingreso.id), class: "btn btn-lg btn-primary", id:"link-b" %>
	</div>

<%end%>

<%= link_to "Volver a ingresos", ingresos_path, class: "btn btn-lg btn-primary" %>
<br><br><br>
