<%= bootstrap_form_for([@grua, order]) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :numero, id: :order_numero %>
  </div>


  <% clientes = [''] %>
  <% Cliente.all.each do |p| %>
    <% clientes.append(p.nombre) %>
  <%end%>

  <div class="field">
    <%= form.select(:cliente, clientes, {}, { :class => 'my_style_class' })%>
  </div>

  <div class="field">
    <%= form.select(:equipo, ['', 'Taller1', 'Taller2', 'Central'], {}, { :class => 'my_style_class' })%>
  </div>

  <div class="field">
    <%= form.date_select :fecha, id: :order_fecha %>
  </div>

  <div class="field">
    <%= form.time_select :hora_entrada, id: :order_hora_entrada %>
  </div>

  <div class="field">
    <%= form.time_select :hora_salida, id: :order_hora_salida %>
  </div>

  <div class="field">
    <%= form.number_field :horometro, id: :order_horometro %>
  </div>

  <div class="field">
    <%= form.check_box :preventiva, id: :order_preventiva %>
  </div>

  <div class="field">
    <%= form.select(:estado_maquina, ['', 'Buena', 'Mala'], {}, { :class => 'my_style_class' })%>
  </div>

  <h3> Trabajos realizados:</h3>
  <div class="field">
    <%= text_field_tag "trabajos[]" %>
  </div>
  <% contador = 8 %>
  <% while contador > 0 %>
    <div class="field">
      <%= text_field_tag "trabajos[]" %>
    </div>
    <%contador -= 1 %>
  <%end%>

  <h3> Repuestos utilizados:</h3>

  <table>
  <thead>
    <tr>
      <th>Codigo repuesto</th>
      <th>Cantidad</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= number_field_tag "repuestos[repuestos][]repuesto[codigo]" %></td>
      <td><%= number_field_tag "repuestos[repuestos][]repuesto[cantidad]" %></td>
    </tr>

    <% contador = 10 %>
    <% while contador > 0 %>
      <tr>
        <td><input type="number" name="repuestos[repuestos][]repuesto[codigo]"></td>
        <td><input type="number" name="repuestos[repuestos][]repuesto[cantidad]"></td>
      </tr>
      <% contador -= 1 %>
    <%end%>
  </tbody>
</table>

  <div class="field">
    <%= form.text_field :total, id: :order_total %>
  </div>


  <div class="actions">
    <%= form.submit "Crear OT"%>
  </div>
<% end %>
