<%= bootstrap_form_for([@grua, order], html: { autocomplete: "off" }) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :numero, label: "Número de la OT" %>
  </div>


  <div class="field">
    <%= form.text_field :cliente %>
  </div>

  <div class="field">
    <%= form.select :equipo, ["", "Móvil 1", "Móvil 2", "Central", "Taller Externo"], label: "Taller" %>
  </div>

  <div class="field">
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.time_select :hora_entrada %>
  </div>

  <div class="field">
    <%= form.time_select :hora_salida %>
  </div>

  <div class="field">
    <%= form.number_field :horas_hombre, label: "Horas/hombre", help: "En caso de que no se pueda medir como la diferencia entre hora de entrada y salida" %>
  </div>

  <div class="field">
    <% frase = "Debe ser mayor que el horometro actual: " + @grua.horometro.round(0).to_i.to_s %>
    <%= form.number_field :horometro, label: "Horómetro", help: frase %>
  </div>

  <div class="jumbotron">
    <%= form.check_box :preventiva %> <%= form.check_box :correctiva %> <%= form.check_box :dano, label: "Daño" %>
  </div>

  <div class="field">
    <%= form.select :estado_maquina, ['', 'Operativa', 'No Operativa'], label: "Estado de la máquina" %>
  </div>

  <h3> Trabajos realizados:</h3>
  <div class="field">
    <p> 1.- <%= text_field_tag "trabajos[]", '', size: 75 %></p>
  </div>
  <% contador = 2 %>
  <% while contador < 11 %>
    <div class="field">
      <p> <%=contador%>.- <%= text_field_tag "trabajos[]", '', size: 75 %></p>
    </div>
    <%contador += 1 %>
  <%end%>

  <h3> Repuestos utilizados:</h3>

  <table>
  <thead>
    <tr>
      <th><center>Código repuesto</center></th>
      <th><center>Cantidad</center></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= text_field_tag "repuestos[repuestos][]repuesto[codigo]" %></td>
      <td><%= number_field_tag "repuestos[repuestos][]repuesto[cantidad]" %></td>
    </tr>

    <% contador = 10 %>
    <% while contador > 0 %>
      <tr>
        <td><input type="text" name="repuestos[repuestos][]repuesto[codigo]"></td>
        <td><input type="number" name="repuestos[repuestos][]repuesto[cantidad]"></td>
      </tr>
      <% contador -= 1 %>
    <%end%>
  </tbody>
</table>
<br>

  <div class="field">
    <%= form.number_field :costo, label: "Costos viaje", help: "Puede incluir costos del viaje y otros"%>
  </div>

  <div class="field">
    <%= form.number_field :numero_gruas, label: "Número de gruas atendidas", help: "Para dividir el costo del viaje entre las maquinas atendidas" %>
  </div>
  <br><br>


  <div class="actions">
    <%= form.submit "Crear OT", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
