<h1>Hoja de vida Grua <%= @grua.numero_serie %></h1>
<br>

<p>
  Descargar:
  <%= link_to "Excel", grua_orders_path(@grua, format: "xls") %>
</p>

<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Preventiva</th>
      <th>Taller</th>
      <th>Repuestos</th>
      <th>Mano de obra</th>
      <th>Viaje</th>
      <th>Total</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.fecha %></td>
        <td><%= order.cliente %></td>
        <% if order.preventiva %>
          <td>Sí</td>
        <% else %>
          <td>No</td>
        <% end %>
        <td><%= order.equipo %></td>
        <td><%= number_to_currency(order.total_repuestos, delimiter: ".", precision: 0) %></td>
        <td><%= number_to_currency(order.mano_obra, delimiter: ".", precision: 0) %></td>
        <td><%= number_to_currency(order.costo, delimiter: ".", precision: 0) %></td>
        <td><%= number_to_currency(order.total, delimiter: ".", precision: 0) %></td>
        <td><%= link_to 'Mostrar', grua_order_path(grua_id: @grua, id: order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', @grua %>
