<% preventiva = "No" %>
<% if @order.preventiva %>
  <% preventiva = "Si" %>
<% end %>

<h2> Detalles Orden de trabajo</h2>
<div>
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Grua:</strong></td>
        <td><%= @order.grua_id %></td>
      </tr>

      <tr>
        <td><strong>Numero OT:</strong></td>
        <td><%= @order.numero %></td>
      </tr>

      <tr>
        <td><strong>Cliente:</strong></td>
        <td><%= @order.cliente %></td>
      </tr>

      <tr>
        <td><strong>Fecha:</strong></td>
        <td><%= @order.fecha %></td>
      </tr>

      <tr>
        <td><strong>Hora entrada:</strong></td>
        <td><%= @order.hora_entrada.to_formatted_s(:time) %></td>
      </tr>

      <tr>
        <td><strong>Hora salida:</strong></td>
        <td><%= @order.hora_salida.to_formatted_s(:time) %></td>
      </tr>

      <tr>
        <td><strong>Horometro:</strong></td>
        <td><%= @order.horometro %></td>
      </tr>

      <tr>
        <td><strong>Estado maquina:</strong></td>
        <td><%= @order.estado_maquina %></td>
      </tr>

      <tr>
        <td><strong>Equipo:</strong></td>
        <td class="text-primary"><%= @order.equipo %></td>
      </tr>

      <tr>
        <td><strong>Preventiva:</strong></td>
        <td><%= preventiva %></td>
      </tr>
    </tbody>
  </table>
</div>

<h2> Repuestos usados:</h2>
<div class="jumbotron">
  <table class="table">
    <thead>
      <tr>
        <th>Repuesto</th>
        <th>Cantidad</th>
        <th>Valor unitario</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <% total = 0 %>
      <% @order.repuestos_usados.each do |tupla| %>
        <% repuesto = Repuesto.find(tupla[0].to_i) %>
        <% nombre, valor = repuesto.articulo, repuesto.valor %>
        <% total_repuesto = tupla[1].to_f*valor %>
        <% total += total_repuesto %>
        <tr>
          <td><%= nombre %></td>
          <td><%= tupla[1].to_f %></td>
          <td><%= number_to_currency(valor, unit: "$") %></td>
          <td class="text-danger"><%= number_to_currency(total_repuesto, unit: "$") %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <h3 class="text-danger"> Total repuestos: <%= number_to_currency(total, unit: "$") %></h3>
</div>

<h2> Trabajos realizados: </h2>
<% contador = 1 %>
<div class="jumbotron">
  <% @order.trabajos_realizados.each do |trabajo| %>
    <h4><%= contador %>.- <%= trabajo %></h4>
    <% contador += 1 %>
  <%end%>
</div>


<h2> Resumen </h2>
<div class="jumbotron">
  <div>
    <table class="table">
      <tbody>
        <tr>
          <td>Total por repuestos</td>
          <td class="text-danger"><%= number_to_currency(total, unit: "$") %></td>
        </tr>
        <tr>
          <td>Horas hombre</td>
          <td><%= @order.horas_hombre %></td>
        </tr>
        <tr>
          <td>Valor HH</td>
          <td> $15.000 </td>
        </tr>
        <tr>
          <td> Total HH </td>
          <td class="text-danger"><%= number_to_currency(@order.horas_hombre*15000, unit: "$") %></td>
        </tr>
        <tr>
          <td> Costo viaje</td>
          <td class="text-danger"><%= number_to_currency(@order.costo, unit: "$") %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% total_final = @order.horas_hombre*15000 + total + @order.costo %>
  <h3 class="text-danger"> Total: <%= number_to_currency(total_final, unit: "$") %></h5>
</div>


<div>
  <%= link_to 'Editar', edit_grua_order_path(id: @order, grua_id: @grua) %> |
  <%= link_to 'Volver', grua_orders_path(grua_id: @grua) %>
</div>