<% credito = "No" %>
<% if @supplier.credito %>
  <% credito = "Si" %>
<% end %>

<div>
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Nombre:</strong></td>
        <td><%= @supplier.nombre %></td>
      </tr>

      <tr>
        <td><strong>Codigo:</strong></td>
        <td><%= @supplier.codigo %></td>
      </tr>

      <tr>
        <td><strong>Categoria:</strong></td>
        <td><%= @supplier.categoria %></td>
      </tr>

      <tr>
        <td><strong>Correo:</strong></td>
        <td><%= @supplier.correo %></td>
      </tr>

      <tr>
        <td><strong>Telefono:</strong></td>
        <td><%= @supplier.telefono %></td>
      </tr>

      <tr>
        <td><strong>Direccion:</strong></td>
        <td><%= @supplier.direccion %></td>
      </tr>

      <tr>
        <td><strong>Credito:</strong></td>
        <td><%= credito %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <%= link_to 'Edit', edit_supplier_path(@supplier) %> |
  <%= link_to 'Back', suppliers_path %>
</div>
