<% credito = "No" %>
<% if @supplier.credito %>
  <% credito = "Sí" %>
<% end %>

<div>
  <table class="table">
    <tbody>
      <tr>
        <td><strong>Nombre:</strong></td>
        <td><%= @supplier.nombre %></td>
      </tr>

      <tr>
        <td><strong>Código:</strong></td>
        <td><%= @supplier.codigo %></td>
      </tr>

      <tr>
        <td><strong>Categoria:</strong></td>
        <td><%= @supplier.categoria %></td>
      </tr>

      <tr>
        <td><strong>Correo:</strong></td>
        <td><%= @supplier.correo %></td>
      </tr>

      <tr>
        <td><strong>Teléfono:</strong></td>
        <td><%= @supplier.telefono %></td>
      </tr>

      <tr>
        <td><strong>Dirección:</strong></td>
        <td><%= @supplier.direccion %></td>
      </tr>

      <tr>
        <td><strong>Crédito:</strong></td>
        <td><%= credito %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <%= link_to 'Editar', edit_supplier_path(@supplier), class: "btn btn-lg btn-primary" %> |
  <%= link_to 'Volver a Proveedores', suppliers_path, class: "btn btn-lg btn-primary" %>
</div>
